*{
  overflow-x: hidden;
}
.home{
    background-image: url("https://bit.ly/32PZFpS");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    color: palevioletred;
    background-size: cover;
    text-align: center;
}


.home h1{
  text-align: center;
  color: palevioletred;
  font-size: 80px;
}

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color:palevioletred;
      font-size: x-large;
      position: fixed;
      width: 100%;
   
    }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    li a:hover {
      background-color: #ddd;
    }
  .footer{
    color: black;
    font-size: 40px;
  }
  
  
